<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
        function fn_submit() {
            var text = document.getElementById('Email').value;
            console.log(text);
            var regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
            if (regEmail.test(text) !== true) alert('올바른 이메일을 입력해주세요.');
        }
    </script>
</head>
<body>

<h3>회원가입</h3>
<form action="/account/user" method="post">
    <table>
        <tr>
            <td>이메일 : </td>
            <td><input type="text" name="Email" id ="Email"></td>
        </tr>
        <tr>
            <td>ID : </td>
            <td><input type="text" name="Name"></td>
        </tr>
        <tr>
            <td>비번 : </td>
            <td><input type="password" name="Password"></td>
        </tr>
        <tr>
            <td><input type="submit" onclick = "fn_submit()" value="회원가입"></td>
        </tr>
    </table>
</form>

</body>
</html>